body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive, sans-serif;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

.left-section, .right-section {
    width: 300px; /* Adjust as needed */
}

.card {
    box-shadow: 2px 5px 7px rgba(0, 0, 0, 0.2);
    margin: 15px;
    text-align: center;
    border-radius: 10px;
}

.card > p {
    padding: 10px;
}

@media (max-width: 690px) {
    .card {
        margin: 10px;
    }
}

@media (max-width: 340px) {
    .card {
        margin-bottom: 0px;
        height: 150px;
    }
}
